@media(max-width: 767px) {
    .food-section {
        height: auto;

        .center-content {
            height: auto;
        }

        .slider-sec {
            margin-top: 50px;
            padding: 70px 0;
        }
    }

    .contact-section {
        .contact-area {
            .p-l-0 {
                padding-left: 15px !important;
            }

            .contact-form {
                display: none;
            }
        }
    }

    .about-section {
        .border-design {
            margin-bottom: 30px;

            img {
                width: 300px;
            }
        }
    }

    .counter-section {
        &.bg-img {
            .container{
                margin-bottom: -30px;
            }
            .text-center {
                margin-bottom: 30px;
            }
        }
    }
    .navbar-collapse {
        background: #333333;
        border: 1px solid rgba(255, 194, 87, 0.3);
    }
}